th {
  background-color: #79808f;
  border: 1px solid rgba(126, 125, 125, 0.356);
  color: rgb(7, 7, 7);
  font-size: 16px;
  padding: 5px 10px;
}

thead {
  background-color: #79808f;
  border: 1px solid rgba(126, 125, 125, 0.356);
}

td {
  font-size: 12px;
  padding: 5px 10px;
}

tr {
  border: 1px solid rgba(156, 2, 2, 0.274);
  border-radius: 5px;
}

tbody {
  background-color: #282c34;
  border: 1px solid rgba(126, 125, 125, 0.356);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.row-filter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tag-filter {
  background: rgba(126, 125, 125, 0.356);
  border-radius: 50%;
  font-size: 10px;
}
